.rsvpContainer {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}

.responseFrame {
    width: 95%;
    height: 1500px;
    border: none;
    marginheight: 0px;
    marginwidth: 0px;

}

