#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.video {
    width: 350px;
}

.videoMask {
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    width: 350px;
}

.countdown {
    font-family: Serif;
    text-align: center;
    font-size: 60px;
    margin: 0px;
    color: #e68600;
}

.days {
    font-family: Serif;
    text-align: center;
    font-size: 32px;
    margin: -32px;
    color: #e68600;
}
