body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
  }
  
  #parallax-root {
    height: 100vh;
    overflow-y: auto;
    perspective: 10px; /* Adjust for parallax intensity */
  }

  .parallax-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transform-style: preserve-3d;
  }

  .parallax-bg {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: auto;
    height: auto;
}

.parallax-content {
    position: absolute;
    width: 33%;
    height: auto;
    z-index: 1;
}

#section1-content1 {
  width: 15%;
  padding-top: 14rem;
  padding-bottom: 8rem;
}

#section1-content2 {
  width: 25%;
}

#section2 {
  transform: translateY(-35%) scaleY(1.2);
  height: 80vh;
}

#section2-content2 {
  width: 100%;
  padding-top: 2rem;
}

#section3 {
  height: 80vh;
  margin-top: -10rem;
}

#section3-content1 {
  width: 20%;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

#section3-content2 {
  width: 100%;
}

#section4 {
  flex-direction: column;
  height: 60vh;
  padding-top: 20rem;
}

#section4-bg {
  position: absolute;
}

#section4-content-photos {
  width: 70%;
  position: relative;
  padding-top: 10rem;
}
  
/* Tea Ceremony Button */
#section4-content2 {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 1rem;
}
    
.tea-ceremony-button {
  background-color: #f2cc75;
  font-size: 0.8rem;
  font-family: "Audrey-Normal";
  letter-spacing: 0.2rem;
  color: #333;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.tea-ceremony-button:hover {
  background-color: #f4dfb0; /* Slightly darker on hover */
}

#section5 {
  height: 150vh;
}

#section5-content1 {
  width: 20%;
  padding-left: 15rem;
  padding-top: 35rem;
}

#section5-content2 {
  width: 80%;
}

@media (max-width: 800px) {
  .parallax-section {
    height: 100vh;
  }

  .parallax-bg {
    height: 100vh;
    object-fit: cover;
  }

#section1-content1 {
  width: 50%;
  padding-top: 16rem;
}

#section1-content2 {
  width: 50%;
}

#section2 {
  height: 50vh;
  padding-top: 6rem;
}

#section2-content2 {
  padding-bottom: 3rem;
}

#section2-bg {
  object-fit: cover;
  height: 100%;
  width: auto;
}

#section3 {
  height: 70vh;
  flex-direction: column;
  justify-content: center;
}

#section3-content1 {
  position: relative;
  width: 40%;
  padding-right: 0;
  padding-bottom: 0;
}

#section3-content2 {
  position: relative;
}

#section4 {
  height: 80vh;
  padding-top: 0rem;
}

#section4-content-photos {
  width: 90%;
}

/* Tea Ceremony Button */
#section4-content2 {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 1rem;
}
    
.tea-ceremony-button {
  background-color: #f2cc75;
  font-size: 0.6rem;
  font-family: "Audrey-Normal";
  letter-spacing: 0.2rem;
  text-wrap: nowrap;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

#section4-bg {
  object-fit: cover;
}

#section5 {
  flex-direction: column;
  height: 90vh;
}

#section5-content-info {
  position: relative;
  padding-top: 10rem;
}

#section5-content1 {
  position: relative;
  width: 40%;
  padding-left: 0rem;
  padding-top: 0rem;
}