body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
  }
  
  #parallax-root {
    height: 100vh;
    overflow-y: auto;
    perspective: 10px; /* Adjust for parallax intensity */
  }

  .parallax-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transform-style: preserve-3d;
  }

  .parallax-bg {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: auto;
    height: auto;
}

.parallax-content {
    position: absolute;
    width: 33%;
    height: auto;
    z-index: 1;
}

#section1-content1 {
  width: 15%;
  padding-bottom: 8rem;
}

#section1-content2 {
  width: 20%;
}

#section2 {
  transform: translateY(-40%) scaleY(1.2);
}

#section2-content2 {
  width: 100%;
  padding-top: 2rem;
}

#section3 {
  height: 100vh;
}

#section3-content1 {
  width: 20%;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

#section3-content2 {
  width: 100%;
}


#section4 {
  flex-direction: column;
}
  
/* Tea Ceremony Button */
#section4-content2 {
  display: flex;
  position: relative;
  top: -18rem;
  justify-content: center;
}
    
.tea-ceremony-button {
  background-color: #f2cc75;
  font-size: 0.8em;
  font-family: "Audrey-Normal";
  letter-spacing: 2px;
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.tea-ceremony-button:hover {
  background-color: #f4dfb0; /* Slightly darker on hover */
}

#section5 {
  height: 130vh;
}

#section5-content1 {
  width: 20%;
  padding-left: 15rem;
  padding-top: 15rem;
}

#section5-content2 {
  width: 80%;
}

@media (max-width: 600px) {
  .parallax-section {
    height: 100vh;
  }

  .parallax-bg {
    height: 100vh;
    object-fit: cover;
  }
}

@media (max-width: 800px) {

#section1-content1 {
  width: 50%;
}

#section1-content2 {
  width: 80%;
}


#section2 {
  transform: translateY(-10%) scaleY(1.2);
}

#section2-content1 {
  width: 100%;
}

#section3 {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

#section3-content1 {
  position: relative;
  padding-top: 10rem;
  padding-right: 0;
  padding-bottom: 0;
}

#section3-content2 {
  position: relative;
}

#section5 {
  flex-direction: column;
}

#section5-content1 {
  position: relative;
  width: 40%;
  padding-left: 0rem;
  padding-top: 0rem;
}