#root {
    margin: 0;
    max-width: none;
}

.logoContainer {
    display: flex;
    justify-content: left;
}

.logo {
    width: 60px;
}

@media (min-width: 800px) {

    .logo {
        width: 100px;
    }
    
}