#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoMask {
    border-radius: 50px;
    overflow: hidden;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.video {
    width: 300px;
}

.countdown {
    font-family: Serif;
    text-align: center;
    font-size: 60px;
    margin: 0px;
    color: #e68600;
}

.days {
    font-family: Serif;
    text-align: center;
    font-size: 32px;
    margin: -32px;
    color: #e68600;
}
