#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.heroContainer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.heroItem {
    flex: 1 1 0px;;
}

.hero-1 {
    width: 50%;
    flex-grow:0;
}

.heroImgContainer {
    width: 66%;
    margin: 1.5rem;
}

.logo {
    width: 25%;
    height: auto;
    position: relative;
    bottom: -20px;
    left: -20px;
    float: left;
}
.heroImg {
    width: 100%;
    height: auto;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ha {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
}

.haTitle {
    padding-bottom: 4rem;
}

.haPng {
    width: 45%;
}

.getMarried {
    font-family: "Audrey-Normal";
    color: #1D332A;
    white-space: nowrap;
    margin-top: 0rem;
    font-size: 1rem;
}

.countdown{
    color: #1D332A;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.days {
    font-family: "Audrey-Normal";
    font-size: 1.8rem;
    height: 0px;
    margin-top: 0.1rem;
}

.daysLeft {
    font-family: "Goku";
    font-size: 5rem;
    height: 0px;
    margin-top: 0px;
}

.graphic {
    width: 25%;
    height: auto;
    margin-top: 2rem;
}

@media (min-width: 800px) {
    .hero {
        flex-direction: row;
        width:100%;
        height: auto;
        justify-content: center;
    }

    .heroImgContainer {
        margin: 0px;
    }

    .hero-1 {
        width: 100%;
        flex-grow: 1;
    }

    .ha {
        width: 100%;
    }

    .haTitle {
        padding-bottom: 0px;
    }

    .graphic {
        float: right;
        width: 20%;
        height: auto;
        margin-top: -13rem;
    }

}



