:root {
  font-family: Operetta12L;
  line-height: 1.5;

}

@font-face {
    font-family: Operetta12L;
    src: url("@/assets/Operetta12-Light.otf") format("opentype");
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #efe5de
}



