.desktop-text {
  display: block; 
}
  
.mobile-text {
  display: none; 
}

#eventLocationContainer {
    margin-top: 1rem;
    width: 100%;
}

.inviteText {
    font-family: "Audrey-Normal";
    color: #121655;
    margin: -0.4rem;
    text-wrap: nowrap;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 1vw;
    line-height: 2.2;
}

.skirball {
    font-family: "Goku";
    font-size: 3vw;
    line-height: 1.6;
}

.dateText {
    font-family: "Goku";
    font-size: 5rem;
    line-height: 1.5;
}

.closest {
    font-family: "Goku";
    font-size: 1.5rem;
}

.hotel {
    font-family: "Goku";
    font-size: 1rem;
}

.event-date-container p {
    text-align: center;
}

#photos-text-container {
    padding-bottom: 1rem;
}

#photos-text-container p {
    font-size: 1.5vw;
}

#info-container {
    position: absolute;
    bottom: 40%;
    padding-left: 12rem;
}

#info-container closest {
    font-size: 1.5vw;
}

.hotel-section {
    margin-bottom: 1.5rem;
}

.hotel-address {
    font-size: .8vw;
}

@media (max-width: 800px) {
   .desktop-text {
      display: none; 
    }
    
    .mobile-text {
      display: block; 
    }

    #event-location-container {
        margin-top: -1rem;
    }

    .inviteText {
        font-size: 2.8vw;
        line-height: 3;
        letter-spacing: 0.1rem;
    }

    .closest {
        font-size: 4vw;
    }

    .skirball {
        font-size: 6.5vw;
        letter-spacing: 0.3rem;
        line-height: 2;
    }

    .dateText {
        font-size: 10vw;
        line-height: 1.5;
        letter-spacing: 0.3rem;
    }

    #info-container {
        padding-left: 0;
        bottom: 60%;
    }

    #info-container closest {
        font-size: 1.5vw;
    }


    #photos-text-container {
        padding-bottom: 1rem;
    }

    #photos-text-container p {
        font-size: 3.5vw;
        line-height: 2;
    }

    .hotel-section {
        margin-bottom: 1rem;
    }

    .hotel-address {
        font-size: 2.5vw;
    }
}

