#eventLocationContainer {
    margin-top: 1rem;
    width: 100%;
}

#eventDateContainer {
    margin-top: 1rem;
    transform: scaleX(1.1);
}

.inviteText {
    font-family: "Audrey-Normal";
    color: #121655;
    margin: -0.4rem;
    text-wrap: nowrap;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 1vw;
    line-height: 1.8;
}

.skirball {
    font-family: "Goku";
    font-size: 3vw;
}

.dateText {
    font-family: "Goku";
    font-size: 6vw;
}

#photosTextContainer {
    padding-bottom: 3rem;
}

#infoContainer {
    padding-top: 16rem;
    padding-left: 12rem;
}

@media (max-width: 800px) {
    #eventLocationContainer {
        margin-top: 2rem;
        transform: scaleX(1.2);
    }

    .inviteText {
        font-size: 2vw;
        line-height: 3;
        letter-spacing: 0.1rem;
    }

    .skirball {
        font-size: 5vw;
        letter-spacing: 0.3rem;
        line-height: 2;
    }

    .dateText {
        font-size: 8vw;
        line-height: 1.5;
        letter-spacing: 0.3rem;

    }

    #infoContainer {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 3rem;
    }

    #photosTextContainer {
        padding-bottom: 1rem;
    }

}

