.locationContainer {
    margin-top: 4rem;

}

.inviteText {
    font-family: "Audrey-Normal";
    color: #1D332A;
    margin: -0.5rem;
    text-wrap: nowrap;
    font-size: 3vw;
}

.gemCenter {
    font-family: "Goku";
    font-size: 12vw;

}

@media (min-width: 600px) {

}



