#section4-container {
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

#photos-grid-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: stretch; 
  margin: 0 auto;
  padding: 1rem 0;
}

.photos-item {
  display: flex; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
  flex: 0 0 48%; 
}
  
.photos-item img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px; 
}

#more-photos {
  display: flex;
  justify-content: center;
  width: 100%;
}
    
.tea-ceremony-button {
  background-color: #f2cc75;
  font-size: 0.6rem;
  font-family: "Audrey-Normal";
  letter-spacing: 0.2rem;
  text-wrap: nowrap;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.tea-ceremony-button:hover {
  background-color: #f4dfb0; /* Slightly darker on hover */
}
  
@media (min-width: 1024px) {
  #section4-container {
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .photos-item {
    margin-bottom: 30px;
  }

  .tea-ceremony-button {
    font-size: 1.5rem;
}
  