
.saveTheDateContainer {
    display: flex;
    justify-content: center;

}
.saveTheDate {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2.5rem;
    margin-top: 4rem;
}

.left {
    grid-column: 1;
    grid-row: 1 / span 3;
}

.topRight {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
}

.btmRight {
    grid-column: 2;
    grid-row: 3 / span 3;
}

.leftImg {
    width: 100%;
    height: auto;
}

.rightImg {
    width: 100%;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
}

.dateText {
    font-family: "Goku";
    font-size: 12vw;
    color: #1D332A;
    margin: -0.5rem;
    text-wrap: nowrap;
}
@media (min-width: 1000px) {
    .dateText {
        font-size: 7rem;
    }
}

.dateOnAt{
    font-size: 3vw;
}

@media (min-width: 600px) {
    .saveTheDateContainer {
        margin-top: 15rem;
    }

    .saveTheDate {
        width: 75%;
    }
}



