#section3-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#section3-img {
  width: 40%;
}

  
@media (min-width: 800px) {
  #section3-img {
    width: 50%;
  }


}
    